$primary: #42bb87;
$primaryDark: #26A971;
$primaryDarker: #0C9158;
$primaryLight: #67D1A4;
$secondary: #2d67b2;
$secondaryDark: #0D4FA3;
$secondaryDarker: #0A3B7B;
$grey: #f7f7f7;
$greyDark: #eeeeee;
$white: #ffffff;