.page-section {
    padding: 1.25rem 0;
    
    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--grey {
        background-color: #333333;
        color: $white;
        border-top: 5px solid #2b2b2b;
    }
}