.site-application {
    position: relative;
    background: #c8e0ed;
    color: #333;
    text-align: center;
    padding: 2.5rem 0;

    p {
        margin-bottom: 2rem;
    }

    @mixin atMedium {
        padding: 4.5rem 0;
        text-align: left;
    }
}