.site-application {
    position: relative;
    background: #c8e0ed;
    color: #333;
    text-align: center;
    padding: 2.5rem 0;

    a {
        font-style: italic;
    }

    ul {
        margin: 0;
        padding: 0 0 0 1rem;
    }
    
    li {
        list-style:none;
        margin-bottom: .25rem;
        position: relative;
        padding: 0 0 0 .5rem;
    }

    li:before {
        content: "";
        position: absolute;
        top: 4px;
        left: -16px;
        width: 16px;
        height: 16px;
        background-image: url('https://ijalfauzi.github.io/adika-tirta-daya/assets/images/icons/check-alt.webp');
    }
        
    i {
        color: $primary;
        margin-right: .25rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .featured-media {
        margin-top: 2rem;
    }

    .featured-image {
        margin-top: 0;
        position: relative;
    }

    &--green {
        background-color: $primary;

        i {
            color: green;
        }

        img {
            border-radius: 10px;
        }

        li {
            list-style:none;
            margin-bottom: .25rem;
            position: relative;
            padding: 0 0 0 .5rem;
        }
    
        li:before {
            content: "";
            position: absolute;
            top: 4px;
            left: -16px;
            width: 16px;
            height: 16px;
            background-image: url('https://ijalfauzi.github.io/adika-tirta-daya/assets/images/icons/check.webp');
        }
    }

    @mixin atMedium {
        padding: 4.5rem 0;
        text-align: left;
    }
}